@font-face {
    
    font-family: "aviny";
    src: url(../fonts/Aviny.ttf);

}
@font-face {
    font-family: "iransans";

    src: url(../fonts/IRANSansWeb.ttf);

}
h1,h2,h3,h4,h5,h6{
    font-family: "aviny";
}
a,span,i,p{
    font-family: "iransans";
}
a:hover{
    text-decoration: none;
}

body{
    direction: rtl;
}
main,footer{
    font-family: "iransans";
}
.dineuron-menu{width:auto; height: auto; opacity: 0; visibility: hidden;
float: left;}
.nav-open .dineuron-menu {opacity: 1; visibility: visible; background: rgba(255, 255, 255, 0.92); }
.dineuron-menu .nav li a{color:rgb(0, 0, 0); font-size: 22px; }
.dineuron-menu .nav li{
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -moz-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -o-animation-timing-function: cubic-bezier(.45,.005,0,1);
    animation-timing-function: cubic-bezier(.45,.005,0,1);
}
.nav-open .dineuron-menu .nav li{
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
}
.dineuron-menu .nav li.delay-1{-webkit-transition-delay:0.1s; -moz-transition-delay:0.1s; -ms-transition-delay:0.1s; -o-transition-delay:0.1s; transition-delay:0.1s; }
.dineuron-menu .nav li.delay-2{-webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; -ms-transition-delay:0.2s; -o-transition-delay:0.2s; transition-delay:0.2s; }
.dineuron-menu .nav li.delay-3{-webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; -ms-transition-delay:0.3s; -o-transition-delay:0.3s; transition-delay:0.3s; }
.dineuron-menu .nav li.delay-4{-webkit-transition-delay:0.4s; -moz-transition-delay:0.4s; -ms-transition-delay:0.4s; -o-transition-delay:0.4s; transition-delay:0.4s; }
.dineuron-menu .nav li.delay-5{-webkit-transition-delay:0.5s; -moz-transition-delay:0.5s; -ms-transition-delay:0.5s; -o-transition-delay:0.5s; transition-delay:0.5s; }
.dineuron-menu .nav li.delay-6{-webkit-transition-delay:0.6s; -moz-transition-delay:0.6s; -ms-transition-delay:0.6s; -o-transition-delay:0.6s; transition-delay:0.6s; }
.dineuron-menu .nav li.delay-7{-webkit-transition-delay:0.7s; -moz-transition-delay:0.7s; -ms-transition-delay:0.7s; -o-transition-delay:0.7s; transition-delay:0.7s; }
.dineuron-menu .nav li.delay-8{-webkit-transition-delay:0.8s; -moz-transition-delay:0.8s; -ms-transition-delay:0.8s; -o-transition-delay:0.8s; transition-delay:0.8s; }
.dineuron-menu .nav li.delay-9{-webkit-transition-delay:0.9s; -moz-transition-delay:0.9s; -ms-transition-delay:0.9s; -o-transition-delay:0.9s; transition-delay:0.9s; }

.nav-button{
    position: relative;
    z-index: 1111;
    border: solid 1px #000000;
    height: 32px;
    display: block;
    width: 33px;
    padding: 5px 3px;
    /* float: left; */
    right: 42%;
}
.nav-button #nav-icon3{width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;}
.nav-button #nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#000000;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
.nav-button #nav-icon3 span:nth-child(1){top:0}
.nav-button #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
.nav-button #nav-icon3 span:nth-child(4){top:14px}
.nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
.nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}

.flex-center{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100%}

.bg-light {
    background-color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    padding: 0px 7px 0;
    font-size: 15px;
}
.navbar-light .navbar-nav .nav-item {
    font-size: 14px;
    padding: 0 2px;
}

.navbar-nav .nav-link:hover {
    color: rgba(255, 0, 0, 0.7) !important ;
}
.search-icon:hover,
.shop-icon:hover,
.menu-icon:hover{
    color: red;
}

.menu-icon-2,
#menu-second{
    display: none;
}
.menu-icon:hover #menu-first{
display: none;
}
.menu-icon:hover #menu-second{
    display: flex;
}
.nav-item .active{
    color: red !important;
}
.form-inline{
    display: flex;
    flex-direction: row-reverse;
}
.navbar-brand img{
    position: absolute;
    left: 52px;
    top: -35%;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    padding: 0;
}
}
@media screen and (min-width:769px){
    .search-icon,
    .shop-icon,
    .menu-icon{
        font-size: 22px;
        padding: 0 11px;
        color: #161313cf;

    }
    .nav-button{
        display: none;
    }
}
@media screen and (min-width:314px)and (max-width:768px){
    .search-icon,
    .shop-icon,
    .menu-icon-2{
        font-size: 17px;
        padding: 0 10px;
        color: #161313cf;
    }
    .menu-icon{
        display: none;
    }
     .menu-icon-2{
        display: flex;
    }
     .navbar {
        padding: .5rem 0rem;
    }
}


@media screen and (min-width:768px)  and (max-width:1023px){
    .form-inline{
        margin-left: 90px;
    }
}
@media screen and (min-width:577px) and (max-width:768px){
    .form-inline{
        margin-left: 90px;
    }

}
@media screen and (min-width:425px) and (max-width:576px){
    .form-inline{
        margin-left: 59px;
    }
    .nav-button {
        right: 45%;
    }
} 
@media screen and (min-width:375px) and (max-width:424px){
    .form-inline{
        margin-left: 37px;
    }
    .nav-button {
        right: 43%;
    }
}
@media screen and (min-width:314px) and (max-width:374px){
    .form-inline{
        margin-left: 10px;
    }
}
@media screen and (min-width:320px){
    .navbar{
        flex-wrap: nowrap;
    }

}


@media screen and (min-width:1024px){
    .navbar {
        HEIGHT: 90PX;
    }
    .navbar-brand img {
        width: 150px; 
    }
}

@media screen and (min-width: 768px){
    .navbar-brand img {
        width: 200px;
    }
}
@media screen and (max-width:1023px) and (min-width: 768px){
    .navbar-brand img {
    width: 90%;
    top: -12px;
    }
}

@media screen and (max-width:767px) and (min-width: 425px){
    .navbar-brand img {
        width: 82%;
        top: -9px;
    }
}
@media screen and (max-width:424px) and (min-width: 375px){
    .navbar-brand img {
        width: 87%;
        top: -7px;
    }
}
@media screen and (max-width:374px) and (min-width: 300px){
.navbar-brand img {
    width: 87%;
    top: -5px;
}
} 
.dropdown{
    position: unset !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
#men-icon{
    font-size: 21px;
    padding-bottom:5px ;
}

/********************nav******************/

/********home for all pages except main page****************/
  #home .title-home{
    background: #ffffff url(../images/breadcrumbs-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 380px;
    filter: brightness(0.5);
}
 #home{
   width: 100%;
   position: relative;
   margin-top: 50px;
}
#home h2{
    width: 100%;
    position: absolute;
    top: 40%;
    color: #fff;
    font-size: 50px;
    text-align: center;
}
/********home for all pages except****************/
/******************home-maipage******************/
#home-mainpage{
   width: 100%;
   height: auto;
   margin-top: 100px;
}
#home-mainpage .carousel-item{
    width: 100%;
    height: 350px;
 }

#home-mainpage img{
    width: 100%;
    height: inherit;
    position: relative;
}
.head-home-cont {
    position: absolute;
    top: 35%;
}
.h3-btn{
    margin:15% 0;

}

#home-mainpage .btn-home{
    background-color: #e52029;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 3% 5%;
} 
#home-mainpage .btn-home:hover{
   
    background-color: #7fd02c;
}
#home-mainpage img .carousel-caption {
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel-indicators {
    margin-right: 0 !important;
}

#home-mainpage img {
    object-fit: cover;
  }
  #home-mainpage .carousel .carousel-indicators {
    display: none;
}

@media screen and (min-width:1024px){
    #home-mainpage h3{
        font-size: 65px;
    }
    #home-mainpage h6{
        font-size: 45px;
        
    }
    #home-mainpage .carousel-item {
        width: 100%;
        height: auto !important;
    } 
    .h3-btn{
        margin:10% 0;
    
    }
}
@media screen and (min-width:769px) and (max-width:1023px){
    #home-mainpage{
        margin-top: 60px;
     }
    .head-home-cont {
        top: 24%;
    }
    #home-mainpage h3{
        font-size: 45px;
    }
    #home-mainpage h6{
        font-size: 30px;
        
    }
    #home-mainpage .carousel-item {
        width: 100%;
        height: auto !important;
    }
    .h3-btn{
        margin:10% 0;
    
    }

}
@media screen and (min-width:576px) and (max-width:768px){

    .head-home-cont {
        top: 25%;
    }
    #home-mainpage h3{
        font-size: 50px;
    }
    #home-mainpage h6{
        font-size: 35px;
        
    }
    .h3-btn{
        margin:10% 0;
    
    }
}

@media screen and (min-width:425px) and (max-width:575px){
    .head-home-cont {
        top: 18%;
    }
   
    #home-mainpage h3{
        font-size: 42px;
    }
    #home-mainpage h6{
        font-size: 30px;    
    }
    #home-mainpage .btn-home{
    font-size: 14px;
padding: 5%; 
    }
}
@media screen and (min-width:375px) and (max-width:424px){
    .head-home-cont {
        top: 16%;
    }
   
    #home-mainpage h3{
        font-size: 36px;
    
    }
    #home-mainpage h6{  
        font-size: 25px;
        margin: 33px 0;
    }
   
    #home-mainpage .btn-home{
        font-size: 14px;
    padding: 5%; 
        }
    
}
@media screen and (min-width:310px) and (max-width:374px){
    .head-home-cont {
        top: 16%;
    }
    #home-mainpage h3{
        font-size: 32px;
        margin-top: 10px;
    }
    #home-mainpage h6{  
        font-size: 24px;
        margin-top: 21px;
    }
    #home-mainpage .btn-home{
        font-size: 12px;
    padding: 5%; 
        }
    
    #home-mainpage .carousel-indicators {
        left: 0%;
    }
}

@media screen and (min-width:312px) and (max-width:768px){
    #home-mainpage .carousel .carousel-indicators {
        display: flex;
    }
    #home-mainpage{
        margin-top: 60px;
     }
    #home-mainpage .carousel-control-next,
    #home-mainpage .carousel-control-prev{
        display: none;
    }
}

/**************home-mainpge*****************/
 
/****************#aboutus****************/
#aboutus{
    width: 100%;
    height: 100%;
    position: relative;
}
#aboutus a{
    text-decoration: none;
    color: #7fd02c;
}

.image-aboutus img{
    width: 100%;
}
.title-aboutus button:hover {
    background-color: #460b0e;
}
 
.title-aboutus h2 {
    font-size: 45px;
    top: 20%;
    right: 35%;
    position: absolute;
    color: #7fd02c;
}
@media screen and (min-width:768px){
    
    .title-aboutus p {
        font-size: 26px;
        top: 45%;
        right: 30%;
        position: absolute;
        margin-top: 20px;
        color: #2f2f30;
        font-family: "aviny";
        text-align: center;
    }
  
}
@media screen and (max-width:767px){
    .title-aboutus h2 {
        top: 3%;
    }
    .title-aboutus p {
        font-size: 22px;
      color: #2f2f30;
        margin-top: 20px;
        text-align: center;
    }
    .title-aboutus{
       margin-top: 40px;
       color: #7fd02c;
       font-family: "aviny";
       padding: 15%;

    }
}
/**************abutus*********************/

#services{
    position: relative;
    width: 100%;
    height: 500px;
    background: linear-gradient(rgb(0 0 0 / 50%) ,rgb(0 0 0 / 50%)),url(../images/parallax-3.jpg) fixed center center;
    background-size: cover;
}
#services #services-1{
    margin: 0 30px;
    color: #fff;
    padding: 5% 0;

}
#services i{
    margin-top: 80px;
   font-size: 200%;
   color: #7fd02c;
   
}
#services h4{
   margin: 20px 0;
}
#services a:hover{
    color: #7fd02c;
 }
#services a{
   color: #fff;
   text-decoration: none;
 }

 @media screen and (min-width:320px)and (max-width:767px){

    #services{
        height: auto; 
    } 
    #services i{
        margin-top: 30px;
    }
    #services p{
       margin-bottom: 30px;
     }
    
}

/*****************services****************/

.dropbtn {
    background-color: #ffffff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 38%;
    border: 2px solid #000;
    color: #000;
    border-radius: 6px;
    padding:2px 35px;
    margin: 20px 0;
    
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #c4373e;
    color: #fff;
    outline: none;
    border: #c4373e;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    width: 100%;
    height: 100px;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 70%;
    background-color: #fff;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    width: 90%;
    text-align: center;
    justify-content: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content li {
   list-style: none;
   padding-top: 0;

  }
  
  .dropdown-content ul {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ddd
    }
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
/***************dropdown***************/
#orders{
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

 .orders-big-menu ul{
    text-align: center;
     justify-content: center;
     padding-bottom: 50px;
     display: flex;
    
 }
  .orders-big-menu li{
    padding-top: 30px;
    list-style: none;
}
  .orders-big-menu .active{
    color: #72b62d;
    
 }
@media screen and (max-width:767px){
     .orders-big-menu{
        display: none;
    }
}
@media screen and (min-width:768px){
     .dropdown{
        display: none;
    }
     .card .card-img-body{
        width: 130px;
        height: 100px;
    
    }
    #orders h3{
        font-size: 45px;
    }
}
  .head-food-orders{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(143 141 141);
    border-bottom: 5px solid rgb(168, 168, 168);
    padding: 10px 30px;
 }
  .head-food-orders:hover{
     color:#7fd02c;
    border-bottom: 5px solid#7fd02c;
    
     transform: translate3d(-50%, 0, 0);
 
}
 #orders .active,
 #food-orders .active{
    color:#7fd02c;
   border-bottom: 5px solid#7fd02c;
   
    transform: translate3d(-50%, 0, 0);

}
@media screen and (max-width:425px){
     .head-food-orders{
        font-size: 12px;
        padding: 8px 10px;
     }
       .orders-big-menu ul{
        padding: 0;
       padding-bottom: 51px;
    }
}
#orders .card{
    position: relative;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: #f5f5f5;
    border: none;
    text-align: center;
    justify-content: center;
    background-size: cover;
}



#orders .card img{
    max-width: 100%;
    height: auto;
  
}
#orders .card span{
    top: 8%;
    left: 8%;
    position: absolute;
    padding: 8px 12px;
    color: #fff;
 }
 #orders .card .badge{
   background-color: #7fd02c !important;
 }
#orders .card h4{
    padding: 20px 0 ;

}
#orders .card a{
    text-decoration: none;
    color: #fff;
}
#orders .card button{
    width: 45%;
    height: 38px;
    /* display: none; */
    margin: 10px 0;
    border: none;
    outline: none;
    background-color: #7fd02c;
    /* padding: 8px 13px; */
    border-radius: 5px;
    position: absolute;
    top: 75%;
    left: 28%;
    color: #fff;
}
#orders .card button:hover{

   background-color: #e52029;
 
}
@media screen and (min-width:769px){
    #orders .card:hover button{
        display: block;
      
      }
      #orders .card button{
        display: none;
      
      }
}

@media screen and (min-width:576px){
    #orders .card {
    overflow: hidden;
    transition: all .2s ease;
}
@media screen and (min-width:441px) and (max-width:575px){
    #orders .card {
    height: auto;
    }
} 

@media screen and (min-width:425px) and (max-width:440px){
    #orders .card button{
     width: 30%;
     left: 36%;
    }
    #orders .card {
        height: auto;    
}
}
@media screen and (min-width:375px) and (max-width:424px){
    #orders .card button{
        width: 32%;
       left: 34%;
    }
    #orders .card {
        height: auto;
    }
}
@media screen and (max-width:374px){
    .dropbtn{
        left: 35% !important;
    }
    #orders .card button{
        display: block;
    }
    #orders .card {
        height: auto;
       
}
}

#orders .card:hover{
  
    background-color: white;
    width: 100%;
    height: 105%;
    object-fit: cover;
    transform: translate3d(0, -18px, 0);
    box-shadow: -2px -1px 12px 10px #cac4c4;
    z-index: 2;
    transition: all .2s ;

}
}


/*****************orders****************/
#clients{
       width: 100%;
       height: auto;
       background: url(../images/bg-image-5.jpg) fixed center no-repeat;
       position: relative;
       background-position: center;
       background-size: cover;
}
#clients i{
    color: rgba(127, 208, 44, 0.22);
    font-size: 25px;
    margin-bottom: 20px;
}
#clients .client-title{
    width: 100%;
}
#clients .clients-right {
    background-color: rgb(255 255 255 / 52%);
    position: absolute;
    border-radius: 40px;
    display: none;
}

#clients h2{
    font-size: 32px;
    color: #333;
    position: relative;
    padding: 50px 0;

}
#clients .carousel-item {
    backface-visibility: hidden;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
  
}
#clients .carousel {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 50px;
    
}
#clients #Carousel-client-2 {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 50px;
    
}


#clients .carousel .carousel-item a {
    color: #000000
}

#clients .carousel .img-box {
  
    margin: 0 auto;
    border-radius: 50%
}

#clients .carousel .img-box img {
    width: 70px;
        height: 69px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 3%;
}


#clients .carousel .testimonial {
    padding: 30px 0 10px;
}

#clients .carousel .overview b {
    color: #7fd02c;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px
}

@media screen and (min-width:767px){
    #clients i {
        
        margin-top: 10%;
    }
    #clients .carousel-item {
        backface-visibility: hidden;
        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
        padding: 0 10%;

    }
    #clients h2{
        font-size:45px;
    }
}

@media screen and (max-width:767px){
    #clients i {
        
        margin-top: 10%;
    }
    #clients .carousel-inner {
        width: 100% !important;
        height: 450px !important;
    }
}


@media screen and (max-width:374px){
    #clients {
        height: 630px;
    }
}


@media screen and (max-width:424px) and (min-width:375px){
  
    #clients .carousel {
        width: 330px !important;
    }
    #clients .carousel-indicators{
        left: 3%;
    }
    #clients .carousel-indicators li,
    #home-mainpage .carousel-indicators li{
        border-top: 0 !important;
        border-bottom: 0 !important;
    }
    #clients .carousel-indicators li.active,
    #home-mainpage .carousel-indicators li.active{
    border-bottom: 10px solid transparent;
    }
    #clients .carousel .testimonial {
        padding: 12px 31px 13px !important;
    }

}
@media screen and (max-width:374px) and (min-width:312px){
    
    #clients .carousel {
        width: 290px !important;
    }
    
    #clients .carousel .carousel-control-prev{
        right: 100% !important;
    }
    #clients .carousel .carousel-control-next{
        left: 100% !important;

    }
    #clients .carousel-indicators{ 
        left: 0%;
    }
    #clients .carousel-indicators li,
    #home-mainpage .carousel-indicators li{
        border-top: 0 !important;
        border-bottom: 0 !important;
    }
    #clients .carousel-indicators li.active,
    #home-mainpage .carousel-indicators li.active{
    border-bottom: 10px solid transparent;
    }
    #clients .carousel .testimonial {
        padding: 12px 31px 13px !important;
    }

}

@media screen and (max-width:578px) and (min-width:425px){
    #clients .carousel {
        width: 390px !important;
    }
    #clients .carousel-indicators{
        left: 0%;
    }
    #clients .carousel-indicators li,
    #home-mainpage .carousel-indicators li{
        border-top: 0 !important;
        border-bottom: 0 !important;
    }
    #clients .carousel-indicators li.active,
    #home-mainpage .carousel-indicators li.active{
    border-bottom: 10px solid transparent;
    }
    #clients .carousel-inner {
        width: 100% !important;
        height: 450px !important;
    }
    #clients .carousel .testimonial {
        padding: 30px 31px 13px !important;
    }

}
@media screen and (min-width:579px) and (max-width:768px){
    #clients .carousel {
        width: 60%;
    }
    #clients .carousel-inner {
        width: 100% !important;
        height: 60 !important;
    }
    #clients .carousel .carousel-control-prev{
        right: 100% !important;
    }
    #clients .carousel .carousel-control-next{
        left: 100% !important;

    }
    #clients .carousel-indicators,
    #home-mainpage .carousel-indicators{
        left: -6%;
    }
    #clients .carousel-indicators li,
    #home-mainpage .carousel-indicators li{
        border-top: 0 !important;
        border-bottom: 0 !important;
    }
    #clients .carousel-indicators li.active,
    #home-mainpage .carousel-indicators li.active{
    border-bottom: 10px solid transparent;
    }
    #clients .carousel .testimonial {
        padding: 50px 50px 0 50px !important;
    }

}
@media screen and (min-width:768px) and (max-width:1023px){
    #clients i {
        
        margin-top: 5%;
    }
    #clients .carousel {
        width: 78% !important;
    }
    #clients .carousel .img-box img {
        
        bottom:52%;
        left: 6% !important;
    }
    #clients .carousel .overview {
        width: 80%;
    /* margin-top: 7%; */
    padding-bottom: 5px;
    float: left;
    position: absolute;
    top: 73%;
    left: 32%;
    } 
    #clients .carousel-inner {
        width: 100% !important;
        height: 270px !important; 
    }
    #clients .carousel .testimonial {
        padding: 0px !important;
    }
    #clients .clients-right {
        display: flex;
        max-width: 600px;
        height: 215px;
        top: 33%;
        left: 8%;
    }
    #clients .carousel .carousel-control-next {
        right: -18% !important;
    }
    #clients .carousel .carousel-control-prev {

        margin: auto 25px !important;
     
    }
}

@media screen and (min-width:1024px){
    #clients .carousel {

        width: 65% !important;
    }
    #clients .carousel .carousel-control-prev{
        right: 100% ;
    }
    #clients .carousel .carousel-control-next{
        left: 100% ;

    }
    #clients .carousel .img-box img {
        left: 10%;
    }
    #clients .carousel-inner {
        width: 100%;
        height: 320px;
    }
    #clients .carousel .testimonial {
        padding: 0px ;

    }
    #clients .carousel .overview {
        width: 80%;
    /* margin-top: 7%; */
    padding-bottom: 5px;
    float: left;
    position: absolute;
    top: 73%;
    left: 32%;
    } 
    #clients .carousel .carousel-control-next {
        right: -18% ;
    }
    #clients .carousel .carousel-control-prev {

        margin: auto 70px;
     
    }
}
@media screen and (min-width:1024px) and (max-width:1050px){
    #clients .clients-right {
        max-width: 959px;
        height: 275px;
        top: 31%;
        left: 12%;
        display: flex;
        right: 12%;

    }
}
#clients .carousel-inner {
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 2px 14px 9px rgba(0, 0, 0, 0.13);
    BACKGROUND-COLOR: #fff;
    border-radius: 50px;
}

#clients .carousel .carousel-control {
    width: 30px;
    height: 30px;
    text-shadow: none;
}
#clients .carousel .carousel-control-prev{
    max-width: 650px;
    margin: auto;
    position: absolute;
    top: -8%;
    right: 103%;
    color: rgb(65, 63, 63);
    font-weight: bolder;
}
#clients .carousel .carousel-control-prev span,
#clients .carousel .carousel-control-next span{
    
    border-bottom: 2px solid rgb(65, 63, 63);
    font-weight: bolder;
}
#clients .carousel .carousel-control-next{
    max-width: 650px;
    margin: auto;
    position: absolute;
    top: -8%;
    left: 110%;
    color: rgb(65, 63, 63);
    font-weight: bolder;
}
@media screen and (min-width:300px) and (max-width:767px) {
    #clients .carousel .carousel-control-next,
    #clients .carousel .carousel-control-prev{
        display: none;
    }
}

#clients .carousel-control i {
    font-size: 20px;
    margin-right: 2px
}


#clients .carousel-control .right i {
    margin-right: -2px;
}

#clients .carousel .carousel-indicators {
    justify-content: center;
    align-items: center;
    bottom: 0;
}
@media screen and (min-width:768px){
    #clients .carousel .carousel-indicators{
        display: none;
    }
}

#clients .carousel-indicators li,

#clients .carousel-indicators li.active
{
    width: 15px;
    height: 15px;
    margin: 1px 5px;
    border-radius: 50%
}
#home-mainpage .carousel-indicators li,
#home-mainpage .carousel-indicators li.active {

    width: 15px;
    height: 15px;
    margin: 1px 5px;
    border-radius: 50%
}

#clients .carousel-indicators li,
#home-mainpage .carousel-indicators li{
    background: #e2e2e2;
    border-color: transparent
}

#clients .carousel-indicators li.active ,
#home-mainpage .carousel-indicators li.active {
    border: none;
    background: #7fd02c;
}
/***************clients******************/
#courses{
    margin: 100px 0;
}
#courses .courses-title{
    margin: 50px;
}

#courses .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 20px auto;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  
}
#courses .img-filter2{
    display: none;
    
}
#courses .img-filter3{
    display: none;
}

#courses h2{
    font-weight: bold;
    color: #000;
    
}
#courses .img-filter3 button {
    border-radius: 6px;
    background-color: #7fd02c;
    color: #fff;
    border: none;
    padding: 7px 15px;
    margin: 8px 10px;
    outline: none;
    position: absolute;
    top: 72%;
    left: 20%;
}
#courses .btn-href{
    text-decoration: none;  
}
#courses .img-filter3 i:hover{
  color: #d02c2c;
}

#courses .img-filter3 button:hover{
background-color: #e52029;
}
#courses .img-filter3 span{
    font-size: 18px;
    color: #7fd02c;
  }
  #courses .img-filter3 i {
    font-size: 20px;
    color: #7fd02c;
    padding: 10px 4px;
}
@media screen and (min-width:1200px) and (max-width:1400px){
    #courses .img-filter3 button {
        
        top: 68%;
        left: 25% !important;
    }
    }
@media screen and (min-width:1440px){
    #courses .card:hover img {
        transform: scale(1);
        opacity: 0.2;
        transition: 0.5s;
        
      }
    #courses h2{
        margin: 15% 0 10%;
        font-size: 22px;
    }
    #courses .img-filter3 button {
        padding: 3% 9%;
        left: 17%;
        font-size: 20px;
    }
        #courses .img-filter3 span {
            font-size: 23px;
            color: #7fd02c;
            margin: 10px;
        }
        #courses .img-filter3 i {
            font-size: 23px;
        }
        #courses .card:hover .img-filter3{
            display: block;
            position: absolute;
           width: 100%;
           height: 100%;
              
        }

}

@media screen and (min-width:768px) and (max-width:1439px){
    #courses .card:hover img {
        transform: scale(1);
        opacity: 0.3;
        transition: 0.5s;
        
    }
    #courses .courses-title h3{
        font-size: 45px;
    }
    #courses h2{
     margin: 68px 0 20px  0;
    font-size: 18px;
    }
    #courses .img-filter3 span {
        margin: 0 10px;
    }
    #courses .card:hover .img-filter3{
        display: block;
        position: absolute;
       width: 100%;
       height: 100%;
          
    }

}


@media screen and (max-width:767px) and (min-width:300px){
    #courses .card {
        padding-bottom: 16px;
        
      }
 
    #courses .img-filter3{
        display: flex;
        flex-direction: column;
          
        }
          #courses h2{
            margin: 20px 0;
        font-size: 18px;
        }
          #courses .img-filter3 button {
            padding: 7px 15px ;
            position: unset;
            top: 68%; 
            left: 20%;
        }
        #courses .img-filter3 span {
            font-size: 16px;
        }
  }

#courses .img-111,.img-121,.img-131,.img-141,
#courses .img-151
,#courses .img-161,.img-171,.img-191,.img-201,.btn-shopping{
    display: none;
}



/***************footer*-clasical**************/
    #footer-clasical{
     margin-top: 50px;
     height: auto;
     background-color: #e7e7e7;
     color: #2f2f30;
     position: relative;
    }
    #footer-clasical .col-lg-5,
    #footer-clasical .col-lg-3,
    #footer-clasical .col-lg-4
    {
      color: #2f2f30;
      padding: 30px 0;
     text-align: center;
     justify-content: center;
    }
  #footer-clasical a{
      text-decoration: none;
      color: #8a8a8a;
  }
  #footer-clasical p{
      color: #8a8a8a;
      font-size: 14px;
  }
  #footer-clasical img{
      margin: 0 10px ;
  
      
  }
/***************footer*-clasical**************/

/**********home-footer************/
#home-footer{
    padding: 15px 0;
    background: #f9faf9;
    display: flex;
    flex-direction: row-reverse;
  
}

#home-footer ul{
    margin: 0;
    padding: 0;
 }
#home-footer li{
   width: 100%;
   height: auto;
   list-style: none;
   color: #000;
   text-align: center;
    justify-content: center;
}
#home-footer a{
   text-decoration: none;
   color: rgb(143 141 141);
   font-size: 18px;
   padding: 10px;
   font-weight: bold;
}
#home-footer i{
    padding-right: 10px;
    color: #000 !important;
 }
#home-footer .active{
    color: #000 !important;
 }
 @media screen and (max-width:576px){
    #home-footer a{
        font-size: 10px;
     }
}

/**********home-footer************/
/**************cotact-form-2****************/

#cotact-form-2 .form1-inp{
    width: 30%;
    padding: 12px; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical ;
    border: none;
    border-bottom: 1px solid rgb(114, 114, 114);
    padding-top: 40px;
    text-align: right;
    float: right;
    margin-left: 10px;

  
  }
  #cotact-form-2 form{
      display: flex;
      flex-direction: column;
  }
  #cotact-form-2 .form1-inp-3{
    margin-top: 128px;
  }
  #cotact-form-2 #subject {
    height: 200px;
    padding: 5px;
    padding-top: 40px;

}
#cotact-form-2 h2 {
    font-size: 32PX ;
width: 150px;
    
    margin-top: 30PX;
}
  
#cotact-form-2 .form1-button {
    margin: 50px 0;
    background-color: #7fd02c;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
    text-align: center;
    justify-content: center;
}
#cotact-form-2 .form1-button:hover {
    background-color: #c4373e;
  }
  input:focus{
      border: none !important;
      outline:  auto 1px;
      outline-style: none;
}
  @media screen and (min-width:1024px){
    #cotact-form-2 .form1-inp{
       font-size: 24px;
      }
    #cotact-form-2 .form1-button { 
        margin-right: 80%;
    }
    #cotact-form-2 .form1-button {
        padding: 15px 70px;
      
    }
    #cotact-form-2 #subject {
        height: 210px;
    }
  }
  @media screen and (min-width:426px) and (max-width:1023px){
    #cotact-form-2 .form1-button {
        margin-right: 70%;  
    }
    #cotact-form-2 .form1-button {
        padding: 15px 35px;
    }
  }
  

@media screen and (min-width: 320px) and (max-width: 425px){
    #cotact-form-2 .form1-inp{
        width: 100%; 
      }
      
      #cotact-form-2 #subject {
        width: 100%;
        height: 120px; 
        margin-top: -16px;
        margin-bottom: -23px; 
    }
    #cotact-form-2 .form1-inp-3{

        margin-top: 6px;
      }

}
 /*****************cotact-form-2****************/
#scroll-img{
    margin-top: 100px;
    width: 100%;
   position: relative;
    
}
.my-custom-scrollbar {
    background: linear-gradient(rgb(0 0 0 / 50%) ,rgb(0 0 0 / 50%)),url(../images/parallax-2.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
  }
  #scroll-img .title-scroll-img{
    position: absolute;
    width: 100%;
    height: 100%;
}
 #scroll-img .head-scroll-img {
        color: #fff;
        text-align: center;
        justify-content: center;
        margin-top: 30%;
        font-weight: lighter;
        /* margin-right: 30%; */
}
 #scroll-img .head-scroll-img h3 {
        color: #fff;
        font-size: 48px;
        font-weight: lighter;
}
#scroll-img .head-scroll-img p {
        color: #fff;
        font-size: 22px;
        font-weight: lighter;
}
  
    .enter-scroll-img{
        color: #fff;
     width: 100%;
    }
    .enter-scroll-img form{
        color: #fff;
    display: flex;
    flex-direction: row;
    }
    #scroll-img .enter-scroll-img .input-email {
        width: 100%;
       
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 30%;
        margin-bottom: 16px;
        margin-left: 10px;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: #9d9c9c00;
        text-align: center;
        justify-content: center;
        color: rgb(255, 255, 255);
    }
    #scroll-img .enter-scroll-img .input-btn {
       
        padding: 12px 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 30%;
        margin-bottom: 16px;
        resize: vertical;
        border: 1px solid rgb(255, 3, 3);
        /* padding-top: 40px; */
        background-color: #ff0000;
        text-align: center;
        justify-content: center;
        margin-left: 20px;
        color: rgb(255, 255, 255);
    }
    @media screen and (min-width: 769px){
        #scroll-img .head-scroll-img {
        
            margin-right: 30%;
    }
    }
    @media screen and (min-width: 426px) and (max-width: 768px){
        #scroll-img .head-scroll-img h3 {
            font-size: 40px;
         
        }
        #scroll-img .head-scroll-img p {
            font-size: 22px;
        }
        .enter-scroll-img {
            color: #fff;
            width: 100%;
            margin-top: 30%;
        }
        #scroll-img .enter-scroll-img .input-email {
            padding: 12px;
            margin-top: 20%;
            margin-bottom: 16px;
        }
        #scroll-img .enter-scroll-img .input-btn {
            margin-top: 20%;
            margin-bottom: 16px;
            margin-left: 10px;
            margin-right: 10px;
            padding: 5px;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 425px){
        #scroll-img .head-scroll-img h3 {
            font-size: 27px;
         
        }
        #scroll-img .head-scroll-img p {
            font-size: 15px;
            
        }
        #scroll-img .enter-scroll-img .input-email {
            padding: 8px;
            margin-top: 10px;
            margin-bottom: 18px;
            margin-left: 7px;
    
        }
        #scroll-img .enter-scroll-img .input-btn {
            margin-top: 20px;
            margin-bottom: 16px;
            margin-left: 10px;
            margin-right: 10px;
            padding: 5px;
        }
    }
    
    #cotact-form-3{
        display: flex;
        flex-direction: row-reverse;
    }
    #cotact-form-3 .form1-inp{
        width: 30%;
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px; 
        resize: vertical ;
        border: none;
        border-bottom: 1px solid rgb(114, 114, 114);
        padding-top: 40px;
        text-align: right;
        float: right;
        margin-left: 10px;
    
      
      }
      #cotact-form-3 form{
          display: flex;
          flex-direction: column;
      }
      #cotact-form-3 .form1-inp-3{
        width: 30%;
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px; 
        resize: vertical ;
        border: none;
        border-bottom: 1px solid rgb(114, 114, 114);
        padding-top: 40px;
        text-align: right;
        float: right;
        margin-left: 10px;
      
      }
      #cotact-form-3 #subject {
        width: 33%;
        height: 200px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: -113px;
        margin-bottom: 4px;
        resize: vertical;
        border: none;
        border-bottom: 1px solid rgb(114, 114, 114);
        padding-top: 40px;
        float: left;
    }
      #cotact-form-3 .row {
        margin-left: 8px;
    }
    
    #cotact-form-3 h2 {
        font-size: 37PX;
        width: 178px;
        margin-top: 50PX;
        margin-bottom: 50PX;
    }
      
      @media screen and (min-width:320px) and (max-width:425px){
       
        #cotact-form-3 .form1-button {
         
            background-color:#7fd02c;
            color: white;
            padding: 15px 35px;
            font-size: 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 51px;
          
        }
      }
      @media screen and (min-width:426px) and (max-width:1023px){
        #cotact-form-3 .form1-button {
            
            margin-right: 70%;
          
        }
        #cotact-form-3 .form1-button {
         
            background-color:#7fd02c;
            color: white;
            padding: 15px 35px;
            font-size: 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
      }
      @media screen and (min-width:1024px){
        #cotact-form-3 .form1-inp{
           font-size: 24px;
          }
        #cotact-form-3 .form1-button {
            
            margin-right: 80%;
          
        }
        #cotact-form-3 .form1-button {
            border-radius: 4px;
            
            background-color:#7fd02c;
            color: white;
            border: none;
            padding: 15px 70px;
          
        }
      }
      
      #cotact-form-3 .form1-button:hover {
        background-color: #c4373e;
      }
      input:focus{
          border: none !important;
          outline:  auto 1px;
          outline-style: none;
    }
    @media screen and (min-width: 320px) and (max-width: 425px){
        #cotact-form-3 .form1-inp{
            width: 100%;
            
          }
          #cotact-form-3 #subject {
            width: 100%;
            height: 120px;
            
            margin-top: -16px;
            margin-bottom: -23px;
            
        }
    
    }
  /********orders-page****************/
#food-orders .col-sm-12{
    padding-right: 0 !important;
}
#food-orders{
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
@media screen and (max-width:1023px){
    #food-orders .img-filter{

        position: relative;
        overflow: hidden;
        z-index: 1;
        background-color: #f9faf9;
        padding-bottom: 20px;
        margin-top: 30px;
      
    }
}

#food-orders .img-filter3
 {
    display: none;
}
#food-orders .img-filter{

    position: relative;
    overflow: hidden;
    z-index: 1;
    
  
}
#food-orders .img-filter-title{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
   
      
   }
#food-orders .img-filter>img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

#food-orders .btn-href{
    text-decoration: none;
    
}
#food-orders .img-filter2 button{
    border-radius: 10px;
    background-color: #7fd02c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    outline: none;
    margin-left: 10px;
    margin: 0 20px;
}
#food-orders .img-filter-title h3{
   margin: 10px 0;
   font-size: 24px;
    margin-right: 10px;
    color: #7fd02c;
 
 }
@media screen and (min-width:1023px){
    #food-orders .img-filter-title{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
        opacity: 0;
        transform: scale(0);
      transition: .3s ease;
        background-color: #fff;
       
    }
    .img-filter3,
    .img-filter2
     {
        display: none;
    }

    #food-orders .img-filter:hover .img-filter-title {
        transform: scale(1);
        opacity: 0.9;
      }
      #food-orders .img-filter:hover .img-filter3 {
        transform: scale(1);
        opacity: 1;
        display: block;
      }
    #food-orders .img-filter3{
     
        position: absolute;
        top: 52%;
        left: 34%;
      }
      #food-orders .btn-href{
          text-decoration: none;
          
      }
      #food-orders .img-filter3 button{
        border-radius: 10px;
        background-color: #7fd02c;
        color: #fff;
     border: none;
     padding: 10px 22px;
     outline: none;
    }
    #food-orders .img-filter3 button:hover{
      background-color: #e52029;
    }

    #food-orders .img-filter-title h3{
       position: absolute;
       top: 30%;
       left: 43%;
       color: #000;
    
    }
}
   

#food-orders .img-filter-title i:hover{
   color: #e52029;
}
#food-orders .img-filter-title i:active{
    background-color: red;
}
/************recipepage***************/
#cont-1{
    position: relative;
    margin: 100px 0;

}
#cont-1 .head-post-modern{
    display: flex;
    flex-direction: row;
}
#cont-1 .post-modern-panel{
    color: #fff;
    padding: 3px 6px;
    background-color: #7fd02c;
    font-size: 14px;
    margin: 50px 10px;

}

#cont-1 .time-modern-time{
    color: #444;
    margin: 50px 10px;
    padding: 0 10px;
    border-right: 1px solid #444;
}
#cont-1 .time-modern-time2 {
    color: #444;
    margin: 50px 0;
    padding: 0 0;
}
#cont-1 a{
    text-decoration: none;
}
#cont-1 .post-modern-box1 h2{
    font-size: 48px;
    margin: 50px 0;
    text-align: right;
    
}
#cont-1 .post-modern-img-1{
    display: block;
    overflow: hidden;
margin-top: 30px;
margin-bottom: 30px;
width: 100%;
height: auto;
}
#cont-1 .post-modern-img-1 img {
    transform: none;
    will-change: transform;
    transition: all .3s ease;
    width: 100%;
    height: auto;
}
#cont-1 .post-modern-img-1 img:hover{
transform: 0.5s;
transform: scale(1.5);
-moz-transform: scale(1.5);
-webkit-transform: scale(1.5);
}
#cont-1 .post-modern-box1 p{
    color: rgb(126, 126, 126);
    margin-top: 10px;
    text-align: right;
}
#cont-1 .post-moder-quote{
    display: flex;
    flex-direction: row;
}
#cont-1 .post-moder-quote i{
    font-size: 40px;
    margin: 50px 0;
    color: #928f8f8a;
    width: auto;
    
}
#cont-1 .post-moder-quote h2{
    
    font-size: 32px;
    margin: 50px 15px;
    color: #1a1919;
    font-weight: 400;

    
}
#cont-1 .border{
    margin: 50px 0;
    border: none;
    border-bottom: 2px solid #444;
}
#cont-1 .border2{
    margin:30px 0 50px 0;
    border: none;
    border-bottom: 2px solid rgb(180, 180, 180);
}
#cont-1 .post-modern-nav{
    margin: 50px 0;
    display: flex;
    flex-direction: row;
}

#cont-1 .post-modern-nav-menu li{
    padding: 0 10px;
    float: left;
    font-size: 15px;
    color: #444;
    list-style: none;
    font-weight: 600;

}
#cont-1 .post-modern-nav-menu a{
    color: #444;
}
#cont-1 .post-modern-nav-menu a:hover{
    color: rgb(252, 99, 99);
}
#cont-1 .post-modern-nav .post-modern-share ul{
    display: flex;

}
#cont-1 .post-modern-nav .post-modern-share li{
    padding: 0 10px;
    float: right;
    font-size: 18px;
    color: rgb(5, 5, 5);
    list-style: none;

}
#cont-1 .post-modern-nav .post-modern-share li:hover{
      color: rgb(252, 99, 99);

}
#cont-1 .post-modern-nav .post-modern-share li:nth-child(1){
    padding: 0 10px;
    float: right;
    font-size: 14px;
    color: rgb(80, 80, 80);
    list-style: none;
    font-weight: 600;
    padding-right: 0;

}

#cont-1 .post-modern-cards {
    display: flex;
    flex-direction: column;
}
#cont-1 .card{
    background-color: #f9faf9;
    border: none;
    text-align: right;

}
#cont-1 .post-modern-cards h3{
    font-size: 18px;
    padding-left: 20px;
    margin: 50px 0;

}
#cont-1 .card .time-modern-time{
    border-left: none;
    margin: 20px 0;
    color: rgb(141, 141, 141);
    padding:0;
}
#cont-1 .post-modern-cards .card h4{
    font-size: 21px;
    line-height: 35px;
    margin: 23px 0;

}
#cont-1 .post-modern-cards .card p{
    font-size: 15px;
    color: rgb(141, 141, 141);

}
#cont-1 .card-img{
    display: block;
    overflow: hidden;
margin-bottom: 30px;
width: 100%;
height: auto;
}
#cont-1 .card-img img {
    transform: none;
    will-change: transform;
    transition: all .3s ease;
    width: 100%;
    height: auto;
}
#cont-1 .card-img img:hover{
    transform: 0.5s;
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    }
    .post-modern-nav-menu{
        float: right;
    }
@media screen and (max-width:767px){
   
    #cont-1 .post-modern-nav{
        margin: 50px 0;
        display: flex;
        flex-direction: column;
    }
    
    #cont-1 .post-modern-nav-menu li{
       
        font-size: 15px;
        
    
    }
    #cont-1 .post-modern-nav .post-modern-share li{
        padding: 0 10px;
        float: left;
        font-size: 15px;
    }
    #cont-1 .post-modern-nav .post-modern-share li:nth-child(1){
        padding: 0 10px;
        float: left;
        font-size: 15px;
    
    }
    #cont-1 .post-modern-nav .post-modern-share ul{
        display: flex;
       
        margin-top: 14px;
        padding-right: 0;
    
    }
    #cont-1 .post-modern-nav .post-modern-nav-menu ul{
        display: flex;
       
        margin-top: 14px;
        padding-right: 0;
    
    }
} 
 #cont-1 .post-modern-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin: 100px 0;
}
#cont-1 .post-modern-form h2{
    font-size: 20px; 
    margin: 20px 0;
}
#cont-1 .post-modern-form input{
    border: none;
    padding: 20px 50px;
    margin: 20px 10px;
    border-bottom: 1px solid rgb(148, 147, 147);
    color: black;
}
#cont-1 .post-modern-form input:focus,
#cont-1 .post-modern-form textarea{
    /* width: 40%; */
outline: none;   
}
#cont-1 .post-modern-form textarea{
    width: 100%;
    border: none;
    padding: 20px 50px;
    margin: 20px 10px;
    border-bottom: 1px solid rgb(148, 147, 147);
}
#cont-1 .post-modern-form input[type=submit]{
    border: none;
    padding: 20px 70px;
    margin: 20px 10px;
    background-color: #7fd02c;
    color: #fff;
    border-radius: 5px;
}
#cont-1 .post-modern-form input[type=submit]:hover{
    background-color: #e52029;
   
}
#cont-1 .right-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#cont-1 .card-section-right{
    width: 100%;
    height: 300px;
    margin: 50px 0;
    text-align: center;
    justify-content: center;
    border: 1px solid rgb(207, 205, 205);
}
#cont-1 .card-section-right .card-2-img{
    text-align: center;
    justify-content: center;
    position: relative;
    width:100px;
     height:100px;
     border-radius: 50%;
}
#cont-1 .card-2-img .card-img{
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 90%;
}
@media screen and (min-width:375px) and (max-width:785px){
    #cont-1 .card-2-img .card-img{
        border-radius: 50%;
        position: absolute;
        top: 20px;
        right: 112%;
    }
}
#cont-1 h4{
    font-size: 24px;
    
    margin: 40px 0 10px 0;
}
#cont-1 li{
    list-style: none;
    padding: 10px 0;
    font-size: 18px;

}
#cont-1 a{
    text-decoration: none;
    color: #000;

}
.slidebar-1{
    width: 100%;
    height: auto;
 position: relative;
 display: flex;
 flex-direction: row;

}
#cont-1 .slidebar-1 .card {
    background-color: #fff;
    border: none;
    text-align: right;
    margin: auto 5px;
}

#cont-1 .slidebar-1 .card span{
   color: #72b62d;
   font-size: 18px;
}
#cont-1  .slider-tags{
    margin: auto 20px;
    font-size: 18px;
    color: #535353;
 }
 #cont-1  .slider-tags:hover{
color: #c4373e;
 }
 .slider-arshive{
list-style: circle;
 }
 .list-archives  li{
    padding: 5px 0 !important;
}
 .list-archives > li::before {
    background: #7fd02c;
}
.list-marked > li::before {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    content: '';
    height: 9px;
    width: 9px;
    margin-right: 15px;
    border-radius: 50%;

}
@media screen and (min-width:1024px){
    .slidebar-1{
     display: flex;
     flex-direction: column;
    
    }
    #cont-1 .slidebar-1 .card {
       display: flex;
       flex-direction: row;
       margin-top: 10px;
    }
    
    #cont-1 .slidebar-1 .card img {
       width: 90%;
       height: 90%;
    }
    
    #cont-1 .slidebar-1 .card .card-body p {
        width: 100px;
     }
}

/****************course page*********************/
#content-main{
    margin: 70px 10px;
    background-color: #fff;
}
#content-main .search-shop{
    direction: ltr;

}
#content-main input{
    font-family: "iransans";
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2.2em;
    margin: 0 -2.2em 0 0;
    padding: .35em 2.2em .35em .55em;
    border: 1px solid #ccc;
    border-radius: 0 ;
    outline: 0;
    background: #fff;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    box-shadow: 0 0 3px rgba(0,0,0,0.07) inset;
    color: #333;
    font-size: inherit;
    line-height: 1.5em;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    transition: width 200ms ease-in;
    -webkit-appearance: none;
}
#content-main-2 .shop-1{
    text-align: center;
    justify-content: center;
    display: contents;
}
#content-main-2 .shop-1 .col-sm-6{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
#content-main-2 .shopping{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 !important;
}
@media screen and (min-width:300px) and (max-width:765px){
    #content-main-2 .shopping{
            width: 95%;
    }
    #content-main-2 .shopping h2 {
    
        font-size: 30px !important;
    }
    }
    @media screen and (min-width:766px) and (max-width:1023px){
        #content-main-2 .shopping{
                width: 70%;
        }
        }
    @media screen and (min-width:1024px){
        #content-main-2 .shopping{
        width: 50%;
        }
      }


      #content-main-2 .shopping .image-box{
     position: relative;
   width: 100%;
    height: 100%;
    overflow: hidden; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}
#content-main-2 .shopping .image-box img{
    opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
#content-main-2 .shopping .image-box img:hover{
    transform: 0.5s;
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
#content-main-2 .shopping .middle:hover{
   
    box-shadow: 1px 1px 12px 0px #25171775;

}
#content-main-2 .shopping .middle{
    position: relative;
    width: 100%;
    height: 100%;
}

#content-main-2 .shopping h2 {
    text-shadow: 0px 0px 15px black;
    color: rgb(255, 255, 255);
    font-size: 50px;

    position: absolute;
    bottom: -3%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 100;
    
}
#content-main-2 .shopping .image-box:hover .img {
    opacity: 0.3;
}
  

/******************content-main-2 ***************/

#product-cards-shop{
    margin: 100px 0;
    position: relative;
}
.header-course{
    width: 100%;
    height: 100px;
 
    text-align: center;
    justify-content: center;
}
#product-cards-shop h3{
    position: absolute;
    font-weight: 800;
    color: #000;
    font-size: 28px;
    left: 45%;
   
   
  }
#product-cards-shop h2{
    top: 30%;
    color: #000;
    font-size: 29px;
    padding-top: 20px;
 
}

#product-cards-shop .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 20px auto;
  text-align: center;
  font-family: arial;
  overflow: hidden;

}
#product-cards-shop .card img{
    width: 100%;
    overflow: hidden;
  }
  #product-cards-shop .card img:hover{
    transform-origin: center center;
    transform: scale(1.2);
    transition: transform 0.5s ease 0s;
  
  }
  
  
#product-cards-shop .img-filter2{
display: none;
  
}
#product-cards-shop .card:hover .img-filter2{
    display: flex;
    width: 100%;
    height: 51%;
    left: -23%;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    ALIGN-ITEMS: center;
    /* position: absolute; */
    
 }
#product-cards-shop .btn-href{
    text-decoration: none;
    text-decoration: none;
     position: absolute;
    top: 30%; 
    
    
}
#product-cards-shop .btn-href button{
  border-radius: 5px;
  top: 60%;
  border: none;
  outline: none;
  background-color: #7fd02c;
  color: #fff;
  padding: 6px 13px;
  
}
#product-cards-shop .img-filter2 h2:hover{
 
  color: #72b62d;
 

}
#product-cards-shop span{
  font-size: 16px;
  color: #7fd02c;
  padding: 20px 10px;
 

}
#product-cards-shop span i{
  font-size: 18px;
  color: #7fd02c;
  padding: 20px 10px;
 

}

#product-cards-shop .img-filter2 button:hover{
background-color: #e52029;
transition: all 0.2s ease;
}
#product-cards-shop .card:hover .f-image
{
display: none;
}

#product-cards-shop .card:hover .s-image{
    filter: brightness(0.7);
    display: flex;
    position: relative;
    
}   


#product-cards-shop .btn-shopping{
  box-sizing: border-box;
  opacity: 1;
  min-width: 0;
  max-width: none;
  min-height: 0;
  max-height: none;
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  letter-spacing: normal;
  word-spacing: normal;
  transform: none;
  transform-origin: center center;
  transition: none;
}
#product-cards-shop .btn-shopping button{
  padding: 3px 25px;
  font-size: 14px;
  color: #ffffff;
  background-color: #7fd02c;
  border-color: #7fd02c;
  border-radius: 5px;
  border-style: none;
}
#product-cards-shop .btn-shopping button:hover{
  font-size: 14px;
  color: #ffffff;
  background-color: #d02c2c;
  border-color: #d02c2c;
  border-radius: 5px;
}

#product-cards-shop .card:hover .btn-shopping{
  display: flex;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 33%;
  left: 25%;
}
#product-cards-shop .card .img-111,
#product-cards-shop .card .img-121,
#product-cards-shop .card .img-131,
#product-cards-shop .card .img-141,
#product-cards-shop .card .img-151,
#product-cards-shop .card .img-161,
#product-cards-shop .card .img-171,
#product-cards-shop .card .img-191,
#product-cards-shop .card .img-201,
#product-cards-shop .card .btn-shopping{
    display: none;
}
/******************product-cards-shop****************/
/***************footer**********/
#footer{
margin: 10px;
}
footer img{
    margin-top: 45px;
    font-size: 24px;
    margin-bottom: 50px;
}
footer h4{
    padding: 6px;
    font-size: 16px;
}
footer span{
    font-size: 16px;
    color: #2f2f30;
}
footer .span-social{
    font-size: 16px;
    color: #141414;
}
footer .border{
    margin: 20px 0;
    border-bottom: 2px solid rgb(110, 109, 109);
}
footer i{
    font-size: 14px;
    color: #141414;
    padding: 0 10px;
}
footer i:hover{
  color: #e52029;
}
footer h2{
    margin-top: 45px;
    margin-bottom: 35px;
    padding: 6px;
font-weight: bold;
    font-size:24px;
}
.fa-map-marker-alt,
.fa-phone,
.fa-envelope{
    color: #7fd02c;
    padding: 15px;
}
#map iframe{
    border:0; width: 100%; height: 384px;
}
#myinp-2{
    outline: none;
    text-align: center;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #a3a3a3;
}
 
  @media screen and (min-width:426px) and (max-width:1023px){
    
    #myinp-2 {
     
      width: 85%;
  }
}
@media screen and (min-width:310px) and (max-width:425px){
    
      #myinp-2 {
       
        width: 70%;
    }
  }

 
/*******************************/
#myBtn-2 {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    padding: 16px 15px;
    border-radius: 50%;
    left: 1%;
  }

  #myBtn-2:hover {
    background-color: rgb(255, 0, 0);
  }
 
  /***********footer***********/
  /************scrol-btn***********/
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 29px;
    border: none;
    outline: none;
    background-color: #fb3838a8;
    color: white;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 50%;
}
  
  #myBtn:hover {
    background-color: rgb(255, 0, 0);
  }
/************scrol-btn***********/